<app-nav></app-nav>
<div class="registrar-negocio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="align-self-center">
                    <p class="fuente-sfui r">Registro del Negocio</p>
                </div>
            </div>
        </div>
        <form #registroNegocioF="ngForm" (ngSubmit)="formularioRegistrarN(registroNegocioF)" autocomplete="off">
            <div class="row">
                <div class="col-md-6 i">
                    <p class="fuente-sfui f">Foto de Perfil</p>
                    <img *ngIf="!mostrarImagen" src="../../assets/no-image.png" class="img-thumbnail" height="200px">
                    <img *ngIf="mostrarImagen" [src]="imagenTemporal" class="img-thumbnail">
                    <div class="file-field md-form i">
                        <div #noEventInput>
                            <input class="file-path" type="text" placeholder="Foto de perfil del Negocio"
                            name="foto" [ngModel]="foto" #inputImage required>
                        </div>
                        <div mdbBtn color="primary" size="sm" mdbWavesEffect
                            class="waves-light btn-primary btn-sm btn waves-effect">
                            <input type="file" (change)="detectFileFotoPortada($event)"
                            required accept="image/*">
                            <span class="text-center">Examinar</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d align-self-end">
                    <div>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                    <h2 class="fuente-sfui r">Click para agregar y previsualizar las imagenes que se subiran a la galeria</h2>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <!--<ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>-->
                            </ngx-dropzone-image-preview>
                        </div>
                        <input mdbInput type="text" id="fotos" class="form-control"
                                value="{{ total_fotos_negocio }}" required>
                        <p *ngIf="no_fotos_negocio" class="no_fotos_negocio">
                            Seleccione fotos del negocio</p>
                    </div>
                </div>
            </div>
            <div class="row ig">
                <div class="col-md-12">
                    <div class="align-self-center">
                        <p class="fuente-sfui">Información general</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 i">
                    <div class="md-form">
                        <input mdbInput type="text" id="nombreFN" class="form-control" #nombreNegocio
                        name="nombre" [ngModel]="nombre" (blur)="blurInputNombre($event)" required
                        (focus)="focusInputNombre()">
                        <label for="nombreFN">Nombre del Negocio</label>
                    </div>
                </div>
                <div class="col-md-6 d">
                    <div class="selectM">
                        <label #labelGiro>Giro del Negocio</label>
                        <select name="giro" [(ngModel)]="giro" class="form-control" #selectGiro
                            (change)="selectChangeGiro($event.target.value)" required>
                            <option disabled selected value="undefined">Seleccionar</option>
                            <option *ngFor="let giros of listGiros;let x = index"
                            [ngValue]="giros.data"> {{ giros.data }} </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 i">
                    <div class="md-form">
                        <textarea type="text" id="form7" class="md-textarea form-control" mdbInput
                        name="descripcion" [ngModel]="descripcion" #descripcionNegocio required
                        (blur)="blurInputDescripcion($event)" (focus)="focusInputDescripcion()"></textarea>
                        <label for="descripcion">Descripción del Negocio</label>
                    </div>
                </div>
                <div class="col-md-6 d">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="selectM">
                                <label #labelCategoria>Categoría del Negocio</label>
                                <select [(ngModel)]="categoria" name="categoria" class="form-control" required
                                    (change)="selectChangeCategoria($event.target.value)" #selectCategoria>
                                    <option disabled selected value="undefined">Seleccionar</option>
                                    <option *ngFor="let categoria of listCategorias;let x = index"
                                    [ngValue]="categoria.data" class="dropdown-item"> {{ categoria.data }} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input mdbInput type="text" id="telefono" class="form-control" required
                                name="telefono" [ngModel]="telefono" #telefonoNegocio
                                (blur)="blurInputTelefono($event)" (focus)="focusInputTelefono()">
                                <label for="telefono">Teléfono</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 i">
                    <div class="md-form">
                        <input mdbInput type="text" id="direccion" class="form-control" required
                        name="direccion" [ngModel]="direccion" #direccionNegocio
                        (blur)="blurInputDirecion($event)" (focus)="focusInputDirecion()">
                        <label for="direccion">Dirección</label>
                    </div>
                </div>
                <div class="col-md-6 d">
                    <div class="md-form">
                        <input mdbInput type="text" id="pagina" class="form-control" required
                        name="pagina" [ngModel]="pagina" #paginaNegocio
                        (blur)="blurInputPagina($event)" (focus)="focusInputPagina()">
                        <label for="pagina">Página Web</label>
                    </div>
                </div>
            </div>
            <div class="row ha">
                <div class="col-md-6 i">
                    <div class="row p">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-start">
                                <p class="fuente-sfui">Horario de Atención</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <mdb-checkbox (click)="checarLunes($event)"
                            name="lunes"
                            [ngModel]="lunes">Lunes</mdb-checkbox>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="row">
                                <div class="col-md-1">
                                    <p>de</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaLunesAbiertCerrado1>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioLunesAM"
                                            [ngModel]="horarioLunesAM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>a</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaLunesAbiertCerrado2>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioLunesPM"
                                            [ngModel]="horarioLunesPM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mdb-checkbox (click)="checarMartes($event)">Martes</mdb-checkbox>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-1">
                                    <p>de</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaMartesAbiertCerrado1>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioMartesAM"
                                            [ngModel]="horarioMartesAM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>a</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaMartesAbiertCerrado2>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioMartesPM"
                                            [ngModel]="horarioMartesPM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mdb-checkbox (click)="checarMiercoles($event)">Miercoles</mdb-checkbox>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-1">
                                    <p>de</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaMiercolesAbiertCerrado1>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioMiercolesAM"
                                            [ngModel]="horarioMiercolesAM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>a</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaMiercolesAbiertCerrado2>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioMiercolesPM"
                                            [ngModel]="horarioMiercolesPM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mdb-checkbox (click)="checarJueves($event)">Jueves</mdb-checkbox>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-1">
                                    <p>de</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaJuevesAbiertCerrado1>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioJuevesAM"
                                            [ngModel]="horarioJuevesAM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>a</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaJuevesAbiertCerrado2>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioJuevesPM"
                                            [ngModel]="horarioJuevesPM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mdb-checkbox (click)="checarViernes($event)">Viernes</mdb-checkbox>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-1">
                                    <p>de</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaViernesAbiertCerrado1>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioViernesAM"
                                            [ngModel]="horarioViernesAM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>a</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaViernesAbiertCerrado2>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioViernesPM"
                                            [ngModel]="horarioViernesPM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mdb-checkbox (click)="checarSabado($event)">Sabado</mdb-checkbox>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-1">
                                    <p>de</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaSabadoAbiertCerrado1>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioSabadoAM"
                                            [ngModel]="horarioSabadoAM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>a</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaSabadoAbiertCerrado2>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioSabadoPM"
                                            [ngModel]="horarioSabadoPM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mdb-checkbox (click)="checarDomingo($event)">Domingo</mdb-checkbox>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-1">
                                    <p>de</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaDomingoAbiertCerrado1>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioDomingoAM"
                                            [ngModel]="horarioDomingoAM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>a</p>
                                </div>
                                <div class="col-md-5">
                                    <div #DiaDomingoAbiertCerrado2>
                                        <mdb-time-picker
                                            [buttonLabel]="'Ok'"
                                            [twelvehour]="true"
                                            [darktheme]="false"
                                            [placeholder]="'Seleccion Hora'"
                                            name="horarioDomingoPM"
                                            [ngModel]="horarioDomingoPM">
                                        </mdb-time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-start">
                                <p class="fuente-sfui">Ubicación Geolocalizada</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input mdbInput type="text" id="latitud" class="form-control"
                                name="latitud" [ngModel]="latitud" #latitudNegocio required
                                (blur)="blurInputLatitud($event)" (focus)="focusInputLatitud()">
                                <label for="latitud">Longitud</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input mdbInput type="text" id="longitud" class="form-control"
                                name="longitud" [ngModel]="longitud" #longitudNegocio required
                                (blur)="blurInputLongitud($event)" (focus)="focusInputLongitud()">
                                <label for="longitud">Latitud</label>
                            </div>
                        </div>
                    </div>
                    <div class="row b">
                        <div class="col-sm-6 col-md-6"></div>
                        <div class="col-sm-3 col-md-3">
                            <div class="d-flex justify-content-end">
                                <button mdbBtn type="button" color="default" mdbWavesEffect
                                    (click)="registroNegocioF.reset()"
                                    routerLinkActive="active" routerLink="/mis-negocios">Regresar
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="d-flex justify-content-end">
                                <button mdbBtn type="submit" color="primary" mdbWavesEffect
                                [disabled]="registroNegocioF.invalid">Crear Negocio
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog r-n" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <mdb-icon fas icon="check-circle"></mdb-icon>
                <p class="fuente-sfui">Se ha registrado correctamente el negocio </p>
                <div>
                    <div class="d-flex justify-content-center">
                        <button type="button" mdbBtn color="primary" mdbWavesEffect
                        (click)="basicModal.hide()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>