<app-nav></app-nav>
<div class="informacion-mi-negocio">
    <div class="container-fluid">
        <div class="row in">
            <div class="col-md-12">
                <div class="align-self-center">
                    <p class="fuente-sfui r">Información del Negocio</p>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-4 i">
                <div class="row">
                    <div class="col-md-12">
                        <img *ngIf="!mostrarImagen" src="{{ fotoNegocio }}" class="img-thumbnail" height="200px">
                    </div>
                </div>
                <div class="row carousel-img">
                    <div class="col-md-12">
                        <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" 
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                <!--<div style="background: red; height: 100px; display: flex; align-items: center;">
                                    <img src="{{ slide.img }}" alt="" style="height: 100px; margin-left: auto; margin-right: auto;">
                                </div>-->
                                <img src="{{ slide.img }}" alt="" width="100%">
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <div class="col-md-8 d">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nn">
                            <p class="fuente-sfui nm"> {{ nombreNegocio }} </p>
                            <mdb-icon fas icon="pen"
                            [routerLink]="['/editar-negocio', key]"></mdb-icon>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="fuente-sfui tn">{{ girocateogiraNegocio }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="fuente-sfui dn">
                            {{ descripcionNegocio }}
                        </p>
                    </div>
                </div>
                <div class="row t">
                    <div class="col-md-6">
                        <div class="t">
                            <mdb-icon fas icon="phone"></mdb-icon>
                            <div>
                                <p class="fuente-sfui">Teléfono: </p>
                                <p class="fuente-sfui"> {{ telefonoNegocio }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p">
                            <mdb-icon fas icon="globe-americas"></mdb-icon>
                            <div>
                                <p class="fuente-sfui">Página Web: </p>
                                <p class="fuente-sfui"> {{ paginaNegocio }} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dir">
                    <div class="col-md-12">
                        <div class="dir">
                            <mdb-icon fas icon="map-marker-alt"></mdb-icon>
                            <div>
                                <p class="fuente-sfui">Dirección: </p>
                                <p class="fuente-sfui"> {{ direccionNegocio }} </p>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="row hr">
                    <div class="col-md-12">
                        <div class="h">
                            <mdb-icon far icon="clock"></mdb-icon>
                            <p class="fuente-sfui">Horario:</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 hrs">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="fuente-sfui">Lunes</p>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <div *ngIf="verificarLunes">
                                        <p class="fuente-sfui"> {{ lunes }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="fuente-sfui">Martes</p>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <div *ngIf="verificarMartes">
                                        <p class="fuente-sfui"> {{ martes }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="fuente-sfui">Miercoles</p>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <div *ngIf="verificarMiercoles">
                                        <p class="fuente-sfui"> {{ miercoles }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="fuente-sfui">Jueves</p>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <div *ngIf="verificarJueves">
                                        <p class="fuente-sfui"> {{ jueves }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="fuente-sfui">Viernes</p>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <div *ngIf="verificarViernes">
                                        <p class="fuente-sfui"> {{ viernes }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="fuente-sfui">Sabado</p>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <div *ngIf="verificarSabado">
                                        <p class="fuente-sfui"> {{ sabado }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="fuente-sfui">Domingo</p>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex justify-content-end">
                                    <div *ngIf="verificarDomingo">
                                        <p class="fuente-sfui"> {{ domingo }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ps">
                            <div class="col-md-6">
                                <p class="fuente-sfui p">Publicaciones</p>
                                <p class="fuente-sfui pn">20</p>
                            </div>
                            <div class="col-md-6">
                                <p class="fuente-sfui s">Seguidores</p>
                                <p class="fuente-sfui sn">105</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <agm-map [latitude]="map.lat" [longitude]="map.lng" [zoom]="19" style="height: 300px">
                            <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pp">
            <div class="col-md-6">
                <div class="align-self-center">
                    <p class="fuente-sfui">Productos Publicados</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="modalAltaEditar.show()">
                        <mdb-icon fas icon="plus-circle" class="mr-1"></mdb-icon>Crear nuevo
                    </button>
                </div>
            </div>
        </div>
        <div class="row ppp">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <mdb-icon fas icon="search" class="prefix"></mdb-icon>
                            <input mdbInput type="text" class="form-control" placeholder="Buscar"
                            (keyup)="buscaProductoNegocio($event)" [ngModel]="buscarProducto" name="buscarProducto">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div *ngIf="sinProductosNegocio">
                            <div class="no-data">
                                <p class="fuente-sfui npr">No tienes productos registrados</p>
                                <hr>
                                <img src="../../../assets/no-productos.png" height="200px" alt="">
                                <p class="fuente-sfui pn">Aun no ha registrado ningún producto,</p>
                                <p class="fuente-sfui pn">para registrarlo presiona el botón "Crear Nuevo"</p>
                            </div>
                        </div>

                        <div *ngIf="sinResultadosBusquedaProductosNegocio">
                            <div class="no-data">
                                <p class="fuente-sfui">No se encontraron resultados</p>
                                <hr>
                                <img src="../../../assets/no-productos.png" height="200px" alt="">
                                <p class="fuente-sfui">Intente nuevamente o para registrar un</p>
                                <p class="fuente-sfui">nuevo producto presione el botón "Crear nuevo"</p>
                            </div>
                        </div>

                        <div *ngIf="tablaProductosNegocio">
                            <table mdbTable responsive="true" hover="true">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Foto</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Veces agregado a favoritos</th> <!-- style="width: 150px;" -->
                                    <th>Opciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let producto of listProductos; let indice = index">
                                        <td> {{ indice + 1 }} </td>
                                        <td><img src="{{ producto.imagen }}" height="102px" alt=""></td>
                                        <td> {{ producto.nombre }} </td>
                                        <td style="width: 35%;">
                                            {{ producto.descripcion.substring(0,150) }}
                                        </td>
                                        <td> ${{ producto.precio }} </td>
                                        <td>5</td>
                                        <td>
                                            <div class="f">
                                                <mdb-icon far icon="eye"
                                                    (click)="verProducto(producto.$key); modalVer.show()">
                                                </mdb-icon>
                                                <mdb-icon fas icon="pen"
                                                    (click)="editarProducto(producto); modalAltaEditar.show()">
                                                </mdb-icon>
                                                <mdb-icon fas icon="trash"
                                                    (click)="eliminarProducto(producto.$key);">
                                                </mdb-icon>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div mdbModal #modalAltaEditar="mdbModal" class="modal fade i-n" tabindex="-1" role="dialog" 
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog a-p" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close pull-right" aria-label="Close" id="mostrarModal"
                    (click)="modalAltaEditar.hide()">
                    <span aria-hidden="true">×</span>
                </button>-->
                <h4 class="modal-title w-100" id="myModalLabel"> {{ txtNuevoEditarProducto }} </h4>
            </div>
            <div class="modal-body">
                <form #registroProductoNF="ngForm" (ngSubmit)="formularioRegistrarP(registroProductoNF)"
                    autocomplete="off">
                    <input type="hidden" name="$key" #$key="ngModel"
                    [(ngModel)]="_ProductosService.producto.$key">

                    <div>
                        <div class="custom-dropzone agregar-editar-producto" ngx-dropzone [accept]="'image/*'"
                            (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                    <h2 class="fuente-sfui r">Click para agregar y previsualizar las imagenes del producto</h2>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <!--<ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>-->
                            </ngx-dropzone-image-preview>
                        </div>
                        <input mdbInput type="hidden" id="fotos" class="form-control"
                            value="{{ validar_fotos_producto }}" required>
                        <p *ngIf="no_fotos_producto" class="no_fotos_producto">
                            Seleccione fotos del producto</p>
                    </div>

                    <div class="md-form">
                        <input mdbInput type="text" id="nombre" class="form-control" required #nombreProducto
                        [(ngModel)]="_ProductosService.producto.nombre" name="nombre"
                        (focus)="focusInputNombreProducto()"(blur)="blurInputNombreProducto($event)">
                        <label for="nombre" class="">Nombre</label>
                    </div>
                    <div class="md-form">
                        <div class="scrollbar scrollbar-primary">
                            <div class="force-overflow"></div>
                        </div>
                        <textarea mdbInput type="text" id="descripcion" class="md-textarea form-control" required
                            [(ngModel)]="_ProductosService.producto.descripcion" name="descripcion" 
                            #descripcionProducto
                            (focus)="focusInputDescripcionProducto()"(blur)="blurInputDescripcionProducto($event)">
                        </textarea>
                        <label for="descripcion">Descripción</label>
                    </div>                      
                    <div class="md-form">
                        <input mdbInput type="text" id="precio" class="form-control" required #precioProducto
                        [(ngModel)]="_ProductosService.producto.precio" name="precio"
                        (focus)="focusInputPrecioProducto()"(blur)="blurInputPrecioProducto($event)">
                        <label for="precio" class="">Precio</label>
                    </div>
                    <div>
                        <div class="d-flex justify-content-end">
                            <button mdbBtn type="button" color="default" mdbWavesEffect #btnCancelar id="btnCancelar"
                                (click)="resetearForm(registroProductoNF); modalAltaEditar.hide()">Cancelar
                            </button>
                            <button mdbBtn type="submit" color="primary" mdbWavesEffect 
                                [disabled]="registroProductoNF.invalid"> {{ txtBtn }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div mdbModal #modalVer="mdbModal" class="modal fade i-n" tabindex="-1" role="dialog" 
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog v-p" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalVer.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Información</h4>
            </div>
            <div class="modal-body">
                <!--<ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let imagenes of imagenes_producto" class="slide">
                        <div style="background: red; height: 100px; display: flex; align-items: center;">
                            <img src="{{ slide.img }}" alt="" style="height: 100px; margin-left: auto; margin-right: auto;">
                        </div>
                        <img src="{{ imagenes.foto }}" alt="" width="100px" height="100px">
                    </div>
                </ngx-slick-carousel>-->
                <!--<ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let imagenes of imagenes_producto" class="slide">
                        <img src="{{ imagenes.img }}" alt="" width="100px" height="100px">
                    </div>
                </ngx-slick-carousel>-->
                <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let slide of imagenes_producto" class="slide">
                        <img src="{{ slide.img }}" alt="" width="100px" height="100px">
                    </div>
                </ngx-slick-carousel>



                <!--<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item *ngFor="let imagenes of imagenes_producto">
                        <div class="view w-100" style="height: 200px;">
                            <img class="d-block w-100 imagenes-producto" src="{{ imagenes.img }}" alt="First slide">
                            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>-->

                <p class="fuente-sfui n"> {{ verNombreProducto }} </p>
                <p class="fuente-sfui p">$ {{ verPrecioProducto }} </p>
                <p class="fuente-sfui d">Descripción</p>
                <p class="fuente-sfui d2"> {{ verDescripcionProducto }} </p>
            </div>
        </div>
    </div>
</div>