<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark lighten-1" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" routerLinkActive="active" routerLink="/mis-negocios">
        <div>
            <img src="../../../assets/Logo1.jpg" height="25px" alt="">
            <p>Bixy</p>
        </div>
    </a></mdb-navbar-brand>
    <links>  
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link"><mdb-icon fas icon="envelope"></mdb-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><mdb-icon fas icon="bell"></mdb-icon></a>
            </li>
            <li class="nav-item avatar dropdown" dropdown>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a dropdownToggle class="nav-link" style="font-size: 14pt; margin-top: -1px;">
                            <mdb-icon fas icon="user-circle"></mdb-icon>
                        </a>
                    </li>
                </ul>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <div class="menu-options">
                        <div class="p1">
                            <div class="ico-perfil">
                                <mdb-icon fas icon="user-circle"></mdb-icon>
                            </div>
                            <div>
                                <p>{{ nombreUsuario }}</p>
                                <p>{{ correoUsuario }}</p>
                                <button mdbBtn type="button" color="primary" mdbWavesEffect>Ver perfil</button>
                            </div>
                        </div>
                        <div class="p2">
                            <div>
                                <mdb-icon fas icon="user"></mdb-icon>
                                <p>Mi Perfil</p>
                            </div>
                            <div>
                                <mdb-icon fas icon="envelope"></mdb-icon>
                                <p>Mensajes</p>
                            </div>
                        </div>
                        <div class="p3">
                            <mdb-icon fas icon="cog"></mdb-icon>
                            <p>Ajustes de cuenta</p>
                        </div>
                        <div class="p4" routerLinkActive="active" (click)="onLogout()">
                            <mdb-icon fas icon="power-off"></mdb-icon>
                            <p>salir</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>